body {
    margin: 0;
    margin-top: 10%;
    padding: 0;
    height: 100%;
    background-color: #1a1a41;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

p  {
    margin: 0px;
    color: white;
    font-size: 18px;
    line-height: 50px;
}

button {
    /* position: absolute; */
    transform: translate(-220px, 180px);
}

#helperText {
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}

#imageCanvas {
    margin: 10px;
    border: 2px dashed darkgray;
    background-color: transparent;
}

#imageCanvas.active {
    border: 2px dashed yellow;
}

#imageCanvas.filled {
    border: none;
}

#magnifierCanvas {
    border: 2px solid white;
    border-radius: 150px;
    background-color: transparent;
    width: 300px;
    height: 300px;
}

#modalContainer {
    border: 2px solid lightgrey;
    border-radius: 5px;
    width: 350px;
    height: 300px;
    padding: 2px;
    overflow-x: hidden;
    overflow-y:auto;
    margin: 10px;
}

div #colorModal {
    vertical-align: middle;
    border-radius: 5px;
    width: 350px;
    height: 50px;
}

div #sliderValue {
    position: fixed;
    margin-left: 40px;
    margin-top: 45px;
    color: white;
    font-size: 20px;
}

#slider {
    margin: 0;
    width: 100px;
    transform: rotate(-90deg);
}

#magnifierContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#reticle {
    width: 5;
    height: 5;
    color: white;
    z-index: 99999;
    transform: translate(156px, 0px);
}

#titleArt {
    border-radius: 40px;
    position: absolute;
    top: 10px;
    font-size: 60px;
    background-image: linear-gradient(
        90deg, 
        #16e6dc, 
        #F86088
    );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: transparent;
    text-shadow: none;
  }